#!/usr/bin/make -f

DIST ?= $(shell lsb_release -si)

%:
	dh $@

override_dh_auto_install:
	install -m 644 debian/$(DIST)-mirror.list debian/apt-mirror/etc/apt/mirror.list
	pod2man apt-mirror > debian/apt-mirror/usr/share/man/man1/apt-mirror.1
